*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.header {
  outline: 1px solid red ;
  padding: 1vh 43vw;
}

.header figure{
  outline: 1px solid green;
}

.logo {
  outline: 1px solid blue;
  width: 12vw;
  height: auto;
}

nav{
  outline: 1px solid purple;
  background-color: #E1E1E1;
  padding: 0 10px;

}

nav ul {
  outline: 1px solid black;

}

nav ul li {
  outline: 1px solid green;
  list-style: none;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 700;
  padding: 5px 50px;
}

nav ul li:hover{
  border-bottom: 5px solid #ffc107;
}

#filters{
  outline: 1px solid green ;
  background-color: #ffffff;
  margin: 40px 0;
  padding: 0 10vw;
}

#filters select {
  outline: 1px solid red;
  border-radius:20px;
  display: inline-block;
  font-size: 1.3em;
  height: 40px;
  width: 200px;
  margin: 0 5vw;

}

.graphics-container {
  background-color: #F7F7F7;
  width: 100%

}

/*estilos global data */

.global-data ,.container-ratings ,.sprint-data{
  outline: 1px solid red;
  margin: 0 20px;
}

.enrollment, .global-achievement, .net-promoter-score{
  outline: 1px solid blue;
  display: inline-block;
  width: 30vw;
  margin: 20px;
}

.title-global{
  text-align: center;
  margin: 10px ;
  background-color: #ffffff;
  border-radius: 20px;

}

.title-global h3{
  outline: 1px solid purple ;
  margin: 10px 0 ;
}

.global-data .short-item ,.container-ratings .short-item{
  outline: 1px solid green;
  background-color: #F7F7F7;
  border-radius: 10px;
  display: inline-block;
  font-size: 0.9em;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  width: 45%;
}

.global-data .large-item ,.sprint-achievement .large-item{
 outline: 1px solid red;
 background-color: #F7F7F7;
 border-radius: 10px;
 font-size: 0.9em;
 margin-left: 10px;
 padding: 3px;
 text-align: center;
 width: 94%;
 margin-bottom: 5px;
}

.global-data .large-item span ,.sprint-achievement .large-item span{
  display: inline-block;
  margin: 0 10px;
}

.global-data p span .container-ratings span{
  display: block;
  text-align: center;
  font-size: 1.2em
}

.global-data figure, .container-ratings figure, .sprint-achievement figure{
  outline: 1px solid orange;
/*  display: inline-block; */
margin: 20px;
padding: 20px;


}

.global-data img ,.container-ratings img ,.sprint-achievement img{
  outline: 1px solid black;
  height: 170px;
  margin-left: 23px;
  width: 266px;
}

.global-data .nps-item {
  outline: 1px solid red;
  background-color: #F7F7F7;
  border-radius: 10px;
  display: inline-block;
  font-size: 0.8em;
  margin-left: 10px;
  padding: 3px;
  position: relative;
  top:8px;
  text-align: left;
  width: 30%;
}

.global-data .nps-item span {
  display: inline-block;
  margin: 0 2px;
}

#filters h1{
  display: inline-block;
}



.hse-achievement ,.tech-achievement{
  outline: 1px solid blue;
  display: inline-block;
  width: 46vw;
  margin: 20px;
  text-align: center;
  margin: 10px ;
  background-color: #ffffff;
  border-radius: 20px;
}

/*.title-global{
  text-align: center;
  margin: 10px ;
  background-color: #ffffff;
  border-radius: 20px;

}  */

.hse-achievement h3 ,.tech-achievement h3{
  outline: 1px solid purple ;
  margin: 10px 0 ;
}

/*.global-data .short-item {
  outline: 1px solid green;
  background-color: #F7F7F7;
  border-radius: 10px;
  display: inline-block;
  font-size: 0.9em;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  width: 45%;
}  */


/*estilos para eventos */
.show{
  display: block;
}

.hide{
  display: none;
}
